**/log/canton.log
**/log/canton_errors.log
**/navigator.log
.DS_Store
.ammonite
.bsp
**/.daml
**/.daml/
**/.metals
**/.scala-build
**/.scalafmt.conf
**/.vscode
**/log
**/lib
**/configs/*.id
**/configs/*.json
**/configs/mockauth.json
**/configs/participant-config.json
**/configs/pqs.conf
create-daml-app/
**/daml-shell.jar
**/daml.js/
**/node_modules/
shell.log
ui-backend-*.conf
*~
*#